
@media (max-width: 1400px) {
    /* ============== Preview Page ============== */
    .preview_buy_btn {
        margin-right: 15px;
    }
    /* HEADER CSS */
    ul.navegation-menu {
        gap: 40px;
    }
    .header-logo {
        margin-left: 15px;
    }
    /* ============== Home Page ============== */
    /* BANNER CSS */
    .banner_social_btn {
        gap: 15px;
        top: 48%;
        left: -150px;
    }
    .banner-img-text-content {
        gap: 20px;
    }
    /* LATEST-PROJECT-SLIDER CSS */
    .letast_project_slider_list.slick-initialized.slick-slider.slick-dotted {
        width: 100%;
    }
    /* ============== Portfolio Page ============== */
    .pg3_wide_gallery_area {
        margin: 80px 40px 0px;
    }
    .pg3_wide_gallery {
        gap: 60px 40px;
    }
    .pg5_wide_gallery_box {
        width: 17.9%;
    }
}
